.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.6);
    
}

.modalBox {
    background-color: var(--color-primary);
    border-radius: 8px;
    border: 3px solid var(--color-shadow);
    margin: 20%;
    position: relative;
    padding: 5px;
    flex-direction: column;
    align-items: flex-start;
}

.modalBtn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 12px;
    font: bold;
    align-self: flex-end;
    border-radius: 360px;
    background-color: white;
    margin-bottom: 3px;
    color: red;
    width: 8px;
    height: 8px;
}